
section{
    min-height:100vh; 
	display:flex; 
	flex-direction:column;
}
header{
display: flex;
justify-content: flex-end;
align-items: center;
height: 80px;
}
header div{
    margin-right: 35px;
}
#blue_button{
    background-color: rgb(67, 154, 247);
    padding: 10px;
    
}
#blue_button a{
    color: white;

}
a{
    font-family: arial,sans-serif;
    color: gray;
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px; 
    padding-left:  10px; 
}
#central_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow:1;
}
img{
    width: 1000px;
}
i{
    font-size: 35px;
}

#barre_recherche{   
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgb(218, 216, 216);
    margin-top: 20px;
    margin-bottom: 30px; 
    align-items: center;
    padding-left: 10px;

  }
 #loupe{
     font-size: 40px;
 }
 input {
    border: none;
    width: 700px;
    height: 40px;
  }
 
#buttons_center_div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gray_button{
    background-color: rgb(245, 245, 245);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

footer{
    background-color: rgb(245, 245, 245) ;
}
footer>div{
    
    padding-top: 8px;
    padding-right: 10px; 
    padding-left:  10px; 
    padding-bottom:  5px; 
}
#button_france{
    
    align-items: center;
}
#last_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid rgb(238, 236, 236);
    padding-bottom:  20px; 
}
#right_div{
    display: flex;
    justify-content: flex-start;
}
#left_div{
    display: flex;
    justify-content: flex-end;
}